:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --green: #21d2a3;
  --blue: #3c04a4;
  --grey: #c9d2e2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}
